/* DESIGN SYSTEM */

:root {
    --glass-bg: rgba(20, 25, 40, 0.3);
    --glass-border: rgba(255, 255, 255, 0.18);

    --text-main: rgba(255, 255, 255, 0.92);
    --text-muted: rgba(255, 255, 255, 0.7);

    --blur: blur(6px);
    --radius: 32px;

    --shadow-main: 0 8px 32px rgba(0, 0, 0, 0.25);
    --shadow-soft: 0 4px 16px rgba(0, 0, 0, 0.2);

}

/* BASE LAYOUT */

body {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    min-height: 100vh;

    font-family: 'Fredoka', sans-serif;
    letter-spacing: 0.3px;

    overflow: hidden;
    transition: opacity 0.3s ease;
}

/* BACKGROUND + LAYERS */

#background-layer {
    position: fixed;
    inset: 0;
    z-index: 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: background-image 0.8s ease-in-out, filter 0.6s ease;
}

#effects-layer {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 5;
}

/* TYPOGRAPHY */

h1 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
}

p {
    font-size: 0.95rem;
    margin: 0;
    opacity: 0.9;
}

.pixel-text {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.65rem;

    letter-spacing: 0.05rem;
    line-height: 1.5;

    white-space: normal;

    text-align: center;

    color: rgba(255, 255, 255, 0.85);
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
}

/* MAIN CONTAINER */

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    z-index: 20;
}

input[name="city"] {
    text-transform: capitalize;
}

/* WEATHER CARD */

.weather-card {
    display: flex;
    gap: 2rem;
    align-items: center;

    padding: 2rem;
    border-radius: var(--radius);
    
    max-width: 900px;
    width: fit-content;

    background: var(--glass-bg);
    backdrop-filter: var(--blur);
    border: 1px solid var(--glass-border);

    box-shadow: var(--shadow-main);

    color: var(--text-main);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);

    transition: transform 0.3s ease, opacity 0.3s ease;

    z-index: 20; 
}

.weather-card.initial-load {
    animation: expandCard 0.6s ease forwards;
}

/* CURRENT WEATHER */

.current-weather {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;

    text-align: center;

    animation: cardFade 0.6s ease;
}

#temperature {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    font-weight: 200;
}

/* FORECAST */

.forecast-container {
    flex: 2;

    display: flex;
    gap: 1rem;
    align-items: center;

    overflow-x: auto;
    padding-left: 1rem;

    border-left: 1px solid var(--glass-border);

    scroll-behavior: smooth;
    cursor:grab;
}

.forecast-container.dragging {
    cursor: grabbing;
}

.forecast-container::-webkit-scrollbar {
    display: none;
}

.forecast-card {
    flex: 0 0 140px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;

    padding: 1rem;
    border-radius: var(--radius);

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(12px);

    text-align: center;
    font-size: 0.75rem;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.5s ease forwards;

    transition: transform 0.2s ease, background 0.2s ease;   
}

.forecast-card:hover {
    transform: translateY(-6px);
    background: rgba(255, 255, 255, 0.15);
}

.forecast-card img {
    width: 40px;
}

.forecast-card:hover img {
    transform: scale(1.1);
}

.forecast-temp {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.7rem;
}

/* ASTRONOMY GRID */

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

    width: 100%;
    max-width: 900px;
}

.info-card {
    cursor: pointer;

    padding: 1rem;
    border-radius: var(--radius);

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: var(--blur);
    border: 1px solid var(--glass-border);

    box-shadow: var(--shadow-soft);

    color: var(--text-main);
    text-align: center;

    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.info-card:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

/* CARD THEMES */

.sun-card {
    background: var(--glass-bg)
                linear-gradient(
                rgba(255, 200, 120, 0.15),
                rgba(255, 255, 255,0.05)
                );
    border-radius: 20px;
}

.star-card {
    background: var(--glass-bg)
                linear-gradient(
                 rgba(120, 140, 255, 0.15),
                 rgba(255, 255, 255,0.05)
                 );
    border-radius: 20px;
}

/* EXPANDED MODE */

.info-card.expanded {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.03);

    min-width: 260px;
    max-width: 340px;
    width: fit-content;

    padding: 20px 24px;
    border-radius: 20px;
    z-index: 1000;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;

    background: var(--glass-bg);
    backdrop-filter: blur(25px);

    box-shadow: var(--shadow-soft);

    border: 1px solid rgba(255,255,255,0.2);

    animation: cinematicZoom 0.4s ease;
    transition: all 0.3s ease;
}

.info-card.expanded > * {
    animation: contentFade 0.6s ease;
}

.info-card.expanded .pixel-text {
    max-width: 500px;
    text-align: center;
    line-height: 1.6;
}

.info-card.hidden {
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
    display: none;
}

body.expanded-mode::before {
    backdrop-filter: blur(8px);
    z-index: 1000;
}

body.expanded-mode .weather-card,
body.expanded-mode .info-card:not(.expanded) {
    transform: scale(0.92);
    opacity: 0.2;
    filter: blur(6px);
    pointer-events: none;
    z-index: 1001;
}

/* CARD PREVIEW */

.card-preview {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
}

.card-icon {
    font-size: 1.4rem;
}

.card-preview-text {
    font-size: 0.85rem;
    color: var(--text-muted);
    text-align: center;
}

/* CARD DETAILS */

.card-details {
    display: none;
    opacity: 0;
    transform: translateY(10px);
}

.info-card.expanded .card-details {
    display: block;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease;
}

.info-card.expanded .card-preview {
    display: none;
}
/*SUN + STAR CONTENT */

.card-title {
    font-size: 0.75rem;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    color: var(--text-muted);
    opacity: 0.7;
    margin-bottom: 0.4rem;
}

.label {
    font-size: 0.7rem;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 0.4rem;
}

.divider {
    width: 80%;
    height: 2px;
    background: rgba(255, 255, 255, 0.02);
    margin: 0.6rem auto;
}

.sun-row {
    display: flex;
    justify-content: space-between;
}

#sun-status {
    margin-top: 0.5rem;
    font-size: 0.85rem;
}

#stargazing {
    margin-top: 0.5rem;
    font-weight: 400;
}


#stargazing.pixel-text {
    animation: pixelFade 0.6s ease;
}

#moon-phase {
    margin-top: 0.4rem;
    font-size: 0.75rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    opacity: 0.9;
    flex-wrap: wrap;
}

#moon-phase span {
    font-size: 1.2rem;
}

.moon-icon {
    width: 18px;
    height: 18px;
    min-width: 18px;

    border-radius: 50%;
    display: inline-block;
    position: relative;

    margin-right: 6px;

    background: radial-gradient(circle at 30% 30%, #fff 40%, #ccc 100%);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);

    overflow: hidden;
    flex-shrink: 0;
}

.moon-icon::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;

    background: rgba(0, 0, 0, 0.9);
    transform: translateX(0%);
    transition: transform 0.4s ease;
}

.moon-new::after {
    transform: translateX(0%);
}

.moon-waxing-crescent::after {
    transform: translateX(-25%);
}

.moon-first-quarter::after {
    transform: translateX(-50%);
}

.moon-waxing-gibbous::after {
    transform: translateX(-75%);
}

.moon-full::after {
    transform: translateX(-110%);
}

.moon-waning-gibbous::after {
    transform: translateX(75%);
}

.moon-last-quarter::after {
    transform: translateX(50%);
}

.moon-waning-crescent::after {
    transform: translateX(25%);
}

.moon-icon,
.moon-icon::after {
    transition: all 0.4s ease;
}

/* FORM + BUTTONS */

form { 
    margin: 0.5rem 0.1rem;
}

input {
    padding: 0.6rem 0.8rem;
    border-radius: 12px;
    border: none;
    outline: none;
    width: 60%;
}

button {
    padding: 0.6rem 1rem;
    border-radius: 12px;
    border: none;

    cursor: pointer;

    background: rgba(255, 255, 255, 0.3);
    color: white;

    transition: all 0.2s ease;
}

button:hover{
    background: rgba(255, 255, 255, 0.5);
    transform: translateY(-2px);
}

/* ERROR + LOADER */

.error-box {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    
    margin-top: 0.8rem;
    padding: 0.6rem 0.8rem;

    border-radius: 10px;

    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 100, 100, 0.3);

    color: #f44646;

    animation: fadeIn 0.4s ease;
}

#loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);

    width: 50px;
    height: 50px;

    border: 5px solid rgba(255, 255, 255, 0.2);
    border-top: 5px solid white;
    border-radius: 50%;

    animation: spin 1s linear infinite;
    display: none;
    z-index: 999;
}

#loader-overlay {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(5px);
    background: rgba(200, 200, 200, 0.3);
    z-index: 8;
    border-radius: var(--radius);

    display: none;
}

/* WEATHER EFFECTS  */

.cloud-layer,
.rain-layer,
.snow-layer,
.thunder-layer {
    position: fixed;
    inset: 0;
    pointer-events: none;
}

/* clouds */

.cloud-layer {
    height: 60vh;
    background: url('/static/images/clouds-animation.gif') center / 40%;
    opacity: 0;
    transition: opacity 0.6s ease;
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    mix-blend-mode: screen;
    filter: brightness(1.1) opacity(0.8);
}

body.clouds .cloud-layer {
    opacity: 1;
}

/* rain */

.rain-layer {
    height: 85vh;
    background: url('/static/images/rain-animation.gif') center / 50% repeat;
    opacity: 0;
    transition: opacity 0.5s ease;
    mix-blend-mode: screen;
    filter:grayscale(30%) brightness(3) opacity(0.45);
    transform: rotate(4deg);
}

body.rain .rain-layer {
    opacity: 1;
}

/* snow */

.snow-layer{
    display: none;
    background: radial-gradient(circle, rgba(255,255,255,0.8) 2px, transparent 3px);
    background-size: 50px 50px;
    animation: snowFall 6s linear infinite;
    transform: rotate(356deg);    
}

body.snow .snow-layer {
    display: block;
}

/* thunder */

.thunder-layer {
    background: white;
    opacity: 0;
}

body.thunderstorm #background-layer {
    filter: brightness(0.75);
}

/* STARS */

.star-layer {
    position: fixed;
    inset: 0;
    z-index: 3;

    opacity: 0;
    transition: opacity 0.6s ease;
}

.star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: white;
    border-radius: 50%;
}

.star.twinkle {
    animation: twinkle 2s infinite ease-in-out;
}

/* ANIMATIONS */

@keyframes expandCard {
    from { transform: scale(0.9); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

@keyframes fadeUp {
    to { opacity: 1; transform: translateY(0); }
}

@keyframes cardFade {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

@keyframes cinematicZoom {
    0% {
        transform: translate(-50%, -40%) scale(0.85);
        opacity: 0;
    }
    50% {
        transform: translate(-50%, -52%) scale(1.02);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes contentFade {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes pixelFade {
    from {
        opacity: 0;
        transform: translateY(6px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes spin {
    to { transform: translate(-50%, -50%) rotate(360deg); }
}

@keyframes snowFall {
    from { background-position: 0 0; }
    to { background-position: 0 50px; } 
}

@keyframes lightningFlash {
    0%, 100% { opacity: 0; }
    10% { opacity: 0.4; }
    30% {opacity: 0.25; }
}

@keyframes twinkle {
    0%, 100% { opacity: 0.3; transform: scale(1); }
    50% { opacity: 1; transform: scale(1.4); }
}

/* MOBILE */

@media (max-width: 768px) {
    .weather-card {
        flex-direction: column;
        width: 90%;
    }

    .forecast-container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .info-grid {
         grid-template-columns: 1fr;
         width: 90%;
    }
}