body {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    min-height: 100vh;

    font-family: 'Fredoka', sans-serif;
    letter-spacing: 0.3px;

    overflow: hidden;
}

#background-layer {
    position: fixed;
    inset: 0;
    z-index: 0;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    transition: background-image 0.8s ease, filter 0.6s ease;
}

#effects-layer {
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 5;
}

/* TYPOGRAPHY */

h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
}

h2 {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
}

p {
    font-size: 0.95rem;
    opacity: 0.85;
    margin: 0;
}

/* WEATHER CARD */

.weather-card {
    display: flex;
    gap: 2rem;
    align-items: center;

    padding: 2rem;
    border-radius: 20px;
    
    max-width: 900px;
    width: fit-content;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);

    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 
      0 8px 32px rgba(0, 0, 0, 0.25),
      0 0 25px rgba(255, 255, 255, 0.15);

    color: rgba(255, 255, 255, 0.9);

    animation: expandCard 0.6s ease forwards;
    transition: transform 0.3s ease, opacity 0.3s ease;

    z-index: 20;    

}

/* CURRENT WEATHER */

.current-weather {
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;

    text-align: center;

    animation: cardFade 0.6s ease;
}

#temperature {
    font-family: 'Press Start 2P', cursive;
    font-size: 1rem;
    font-weight: 200;
}

/* FORM + BUTTONS */

form { 
    margin: 0.5rem 0.1rem;
}

input {
    padding: 0.6rem 0.8rem;
    border-radius: 12px;
    border: none;
    outline: none;
    width: 60%;
}

button {
    padding: 0.6rem 1rem;
    border-radius: 12px;
    border: none;

    cursor: pointer;

    background: rgba(255, 255, 255, 0.3);
    color: white;

    transition: all 0.2s ease;
}

button:hover{
    background: rgba(255, 255, 255, 0.5);
    transform: translateY(-2px);
}

.error {
    color: #e76767;
}

/* FORECAST */

.forecast-container {
    flex: 2;

    display: flex;
    gap: 1rem;
    align-items: center;

    overflow-x: auto;
    padding-left: 1rem;

    border-left: 1px solid rgba(255, 255, 255, 0.2);

    scroll-behavior: smooth;
    cursor:grab;
}

.forecast-container.dragging {
    cursor: grabbing;
}

.forecast-container::-webkit-scrollbar {
    display: none;
}

/* FORECAST CARD */

.forecast-card {
    flex: 0 0 140px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;

    padding: 1rem;
    border-radius: 16px;

    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(8px);

    text-align: center;

    font-size: 0.75rem;

    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 0.5s ease forwards;

    transition: transform 0.2s ease, background 0.2s ease;   
}

.forecast-card:hover {
    transform: translateY(-6px);
    background: rgba(255, 255, 255, 0.15)
}

.forecast-card img {
    width: 40px;
    transition: transform 0.2s ease;
}

.forecast-card:hover img {
    transform: scale(1.1);
}

.forecast-temp {
    font-family: 'Press Start 2P', cursive;
    font-size: 0.7rem;
}

/* ANIMATIONS */


@keyframes cardFade {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}


@keyframes expandCard {
    from { transform: scale(0.9); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

@keyframes fadeUp {
    to { opacity: 1; transform: translateY(0); }
}

/* WEATHER EFFECTS  */

.cloud-layer,
.rain-layer,
.snow-layer,
.thunder-layer {
    position: fixed;
    inset: 0;
    pointer-events: none;
}

/* clouds */

.cloud-layer {
    height: 60vh;
    background: url('/static/images/clouds-animation.gif') center / 40%;
    opacity: 0;
    transition: opacity 0.6s ease;
    mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
    mix-blend-mode: screen;
    filter: brightness(1.1) opacity(0.8);
}

body.clouds .cloud-layer {
    opacity: 1;
}

/* rain */

.rain-layer {
    height: 85vh;
    background: url('/static/images/rain-animation.gif') center / 50% repeat;
    opacity: 0;
    transition: opacity 0.5s ease;
    mix-blend-mode: screen;
    filter:grayscale(30%) brightness(3) opacity(0.45);
    transform: rotate(4deg);
}

body.rain .rain-layer {
    opacity: 1;
}

/* snow */

.snow-layer{
    display: none;
    background: radial-gradient(circle, rgba(255,255,255,0.8) 2px, transparent 3px);
    background-size: 50px 50px;
    animation: snowFall 6s linear infinite;
    transform: rotate(356deg);    
}

body.snow .snow-layer {
    display: block;
}

@keyframes snowFall {
    from { background-position: 0 0; }
    to { background-position: 0 50px; } 
}

/* thunder */

.thunder-layer {
    background: white;
    opacity: 0;
}

@keyframes lightningFlash {
    0%, 100% { opacity: 0; }
    10% { opacity: 0.8; }
    30% {opacity: 0.6; }
}

body.thunderstorm #background-layer {
    filter: brightness(0.75);
}

body.thunderstorm .rain-layer {
    opacity: 0.9;
}

body.thunderstorm .rain-layer-2 {
    opacity: 0.7;
}

/* MOBILE */

@media (max-width: 768px) {
    .weather-card {
        flex-direction: column;
        align-items: center;
    }

    .forecast-container {
        justify-content: center;
        flex-wrap: wrap;
    }
}

