<!DOCTYPE html>
<html>
    <head>
        <title>
            Whimsical Weather
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
    <div class="scene {{ scene }}">

        <div class="weather-card">

            <h1>Whimsical Weather</h1>

            <form method="POST">
                <input type="text" name="city" placeholder="Enter city" required>
                <button type="submit">Search</button>
            </form>

            {% if weather %}
                <h2>{{ weather.city }}</h2>
                <h3>{{ weather.temperature }}°C</h3>
                <p>{{ weather.description }}</p>
            {% endif %}

            {% if error %}
               <p class="error"> {{error}} </p>
            {% endif %}

        </div>

        <!-- Animation layers-->
        <div class="cloud-layer"></div>
        <div class="cloud-layer-2"></div>
        <div class="rain-layer"></div>
        <div class="snow-layer"></div>

    </div>
    
    </body>
</html>