<!DOCTYPE html>
<html>
    <head>
        <title>
            Whimsical Weather
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;600&family=Press+Start+2P&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="background-layer"></div>

        <!-- Animation layers-->
        <div id="effects-layer">
            <div class="cloud-layer"></div>
            <div class="rain-layer"></div>
            <div class="snow-layer"></div>
            <div class="thunder-layer"></div>
            <div class="star-layer"></div>

        </div>

         <!-- UI layer-->
        <div class="app-container">
            <div class="weather-card">
                
                <div class="current-weather">
                    <h1>Whimsical Weather</h1>

                    <form method="POST" id="weather-form">
                        <input type="text" name="city" placeholder="Enter city" required>
                        <button id="search-btn" type="submit">🔍︎</button>

                        <div class="loader" id="loader"></div>
                    </form>

                    {% if weather %}
                        <h2>{{ weather.city }}</h2>
                        <h3 id="temperature">{{ weather.temperature }}°C</h3>
                        <p>{{ weather.description }}</p>
                        <button id="temp-toggle">Switch to °F</button>
                    {% endif %}

                    {% if error %}
                    <div class="error-box">
                        <span class="error-icon">⚠</span>
                        <p>{{error}}</p>
                    </div>
                    {% endif %}
                </div>
                
                {% if forecast %}
                <div class="forecast-container">
                    {% for day in forecast %}
                        <div class="forecast-card">
                            <p class="forecast-day">{{ day.date }}</p>
                            <img src="https://openweathermap.org/img/wn/{{ day.icon }}@2x.png">
                            <p class="forecast-temp" data-temp="{{ day.temp }}">{{ day.temp }}°C</p>
                            <p>{{ day.description }}</p>
                        </div>   
                    {% endfor %}            
                </div>
                {% endif %}

            </div>

            {% if weather %}
            <div class="info-grid">

                <div class="info-card sun-card" id="sun-card">
                    <p class="card-title">Sun Cycle (Local Time)</p>
                    <div class="sun-row">
                        <span id="sunrise-time">--:--</span>
                        <span id="sunset-time">--:--</span>
                    </div>

                    <p id="sun-status"></p> 
                </div>

                <div class="info-card star-card" id="star-card">
                    <p class="card-title">Stargazing</p>
                    <p id="stargazing">--</p>
                    <div class="stargazing-bar"></div>
                </div>
            {% endif %}

            </div>
        
        </div>

        <script src="{{ url_for('static', filename='themes.js') }}"></script>

        {% if weather %}
        <script>
            window.weatherData = {{ weather | tojson}};
        </script>
        {% endif %}
    
    </body>
</html>